@import './base.css';

.glass-effect {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(10px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}

.glass-effect-darker {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}

@font-face {
    font-family: 'SfProDisplay-Regular';
    src: url('../assets/fonts/sfpro/REGULAR.OTF');
}

@font-face {
    font-family: 'SfProDisplay-Bold';
    src: url('../assets/fonts/sfpro/BOLD.OTF');
}
* {
    font-family: 'SfProDisplay-Regular', sans-serif;
    font-size: 1em;
}